<div class="topo">

  <div class="titulo">

    Blacklist Grupo Koch

  </div>

  <a
    class="logout"
    href="/logout"
  >

    Sair

  </a>

</div>

<div class="menu">

  <a href="/" class="menu-btn">

    Dashboard

  </a>

  <a href="/" class="menu-btn">

    Blacklist

  </a>

  <a href="/relatorios" class="menu-btn">

    Relatórios

  </a>

  <a href="/configuracoes" class="menu-btn">

    Configurações

  </a>

</div>